.app.dark {
  --bg-color: #010185;
  --inverted-bg-color: #a7a7a7;
  --secondary-color: #43c900;
  --primary-color: #2c8800;
  --inverted-secondary-color: #00c;
  --inverted-primary-color: #010185;
}
